@font-face {
font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/* Pages */
.main-header {

  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
font-family: "PT Sans", sans-serif;
  line-height: 26px;
  color: inherit;
  font-weight: 700;
  text-align: justify;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/canyon.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto ;
}

.advantages-full-list {
  text-align: center;
}

.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;


}
.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}
