@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

/* Pages */

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: auto;
}

/*.page-logo {*/
/*  width: 140px;*/
/*  !*margin-left: 70px;*!*/
/*  margin-right: 30px;*/
/*  display: block;*/
/*  z-index: 1;*/
/*  position: relative;*/
/*  margin-bottom: -5px;*/
/*}*/


.sedona-logo {

  display: block;
  position: relative;
  z-index: 1;
}

.logo-link {

  display: block;
  margin-right: 30px;
  width: 140px;
  margin-bottom: -5px;
}

.navigation-list {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  min-height: 33px;
  min-width: 22px;
  padding: 0;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation-link {
  display: block;
  padding: 20px 34px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  color: inherit;
  font-weight: 700;
  text-align: justify;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.main-container {
  flex-grow: 1;
  padding-top: 0;
}

.navigation-button {
  width: 160px;
  height: 37px;
  background-color: #756157;
  border-radius: 4px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/canyon.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.calltoaction {
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
}

.welcome-text {
  position: absolute;
  display: block;
  margin-left: 351px;
  margin-top: -450px;

  /*display: inline-block;*/
  /*width: 458px;*/
  /*height: 352px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*margin: auto;*/
}

.frame {
  position: absolute;
  display: block;
  margin-top: -50px;
  /*margin: auto;*/
  /*left: 0;*/
  /*right: 0;*/
  /*top: 428px;*/
  /*bottom: 0;*/

}

.about-sedona {
  margin-top: 63px;
  margin-bottom: 90px;
  display: block;
  padding: 0;

}

.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.text-basic {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.advantages-title .main-title {
  color: #ffffff;
  text-align: center;
}

.advantages-block-1 {
  display: flex;
}

.advantages-item-1 {
  display: flex;
  max-width: 1200px;
  min-height: 385px;

}

.advandages-text {
  background-color: #82B3D3;
  width: 400px;
  height: 384px;
}

.advantages-block-2 {
  display: flex;
}

.advantages-item-2 {
  display: flex;
  max-width: 1200px;
  min-height: 385px;
}

.advantages-block-3 {
  display: flex;
  margin: 0;
}

.advantages-item-3 {
  display: flex;
  max-width: 1200px;
  min-height: 385px;
}

.sedona-canyon {
  width: 800px;
  height: 384px;
  margin: 0;
  padding: 0;
  display: block;
}

.sedona-city {
  width: 800px;
  height: 384px;
  margin: 0;
  padding: 0;
  display: block;
}

.living {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12)
}

.eating {
  width: 400px;
  height: 384px;
  background-color: #ffffff
}

.china {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12)
}

.advantages-block-4 {
  display: flex;
}

.advantages-item-4 {
  display: flex;
  max-width: 1200px;
  min-height: 385px;
}

.road {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.2);
}

.area {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.toutists {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  /*margin-top: 102px;*/
  /*margin-bottom: 30px;*/
  width: 230px;
}

.advantages-title-square {
  width: 230px;
  height: 28px;
  text-transform: uppercase;
  margin-left: 85px;
}

.advantage-description-square {
  width: 230px;
  height: 63px;
  margin-left: 85px;
  margin-bottom: 82px;
}

.advantages-house {
  width: 75px;
  height: 72px;
  margin-top: 80px;
}

.advantages-eat {
  width: 75px;
  height: 72px;
  margin-top: 80px;
}

.advantages-souvenirs {
  width: 75px;
  height: 72px;
  margin-top: 80px;
}

.advantage-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-title-block2 {
  margin-left: 85px;
  margin-top: 103px;
}

.advantage-description-block2-about {
  width: 230px;
  height: 42px;
  margin-left: 85px;


}

.advantage-description-block2 {
  margin-left: auto;

}

.advantage-description-white {
  color: #ffffff;
}

.advantages-about {
  margin-bottom: 92px;
  margin-left: 85px;
  color: #ffffff;
  width: 230px;
  height: 64px;
}

.main-title {
  color: #ffffff;
  background-color: #82B3D3;
  margin-top: 92px;
  margin-left: 85px;

}

.reservation-list {
  display: flex;
  flex-direction: column;
}

.reservation-form {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.reservation-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 592px;
  /*height: 52px;*/
  margin-left: 304px;
}


/* Catalog */

.catalog-products {
  display: flex;
}


.background-down {
  position: relative;
  text-align: center;
}


.subscribe-email {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 94px;
  margin-left: 398px;
}

.subscriber-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.button-all {
  background-color: #756157;
  border-radius: 4px;
  width: 574px;
  height: 60px;

}
.form-input {
  font-family: inherit;
}

.form-button {
  font-family: inherit;
}

.page-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-social-item {
  list-style: none;
  display: inline;
}

.contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
}

/* catalog */
.image-container {
  position: relative;
  text-align: center;
}

.menu-crumbs {
  position: absolute;
  width: 495px;
  height: 78px;
  left: 2px;
  top: 88px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter {

  position: absolute;
  margin-top: 184px;
  margin-left: 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  /*background-color: #000000;*/
  position: absolute;
  margin-top: 35px;
  margin-left: 635px;
  margin-bottom: 290px;
  margin-left: 70px;
}
.product-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
}
.hotel {
  font-style: inherit;
  color: #333333;
}
.price {
  font-style: inherit;
  color: #333333;
}
.rating {
  font-style: inherit;
  text-transform: uppercase;
}
.item-count {
  font-style: inherit;
  color: #333333;
}
