@font-face {
font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

/* Pages */
.main-header {

  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
font-family: "PT Sans", sans-serif;
  line-height: 26px;
  color: inherit;
  font-weight: 700;
  text-align: justify;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-button {
  position: absolute;
  width: 160px;
  height: 37px;
  background-color: #000;: #756157;
  border-radius: 4px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/canyon.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto ;
}

.advantages-full-list {
  font-style: normal;
}

.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.text-basic {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;

}
.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.advantage-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.main-title {
  color: #ffffff;
  background-color: #82B3D3;
}
.advantages-item {
  color: #000000;
  background-color: #ffffff;
}
.advantages-item-live-souvenirs-road {
  background: rgba(131, 179, 211, 0.2);
}
.advantages-item-square-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.reservation-form {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.reservation-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.subscribe {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto ;
}
.subscriber-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.button-all{
  background-color: #756157;
  border-radius: 4px;
}
.form-input {
  font-family: inherit;
}

.form-button{
  font-family: inherit;
}

.page-footer .contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
}

/* catalog */
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  background-color: #000000;
}

.product-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
}

.hotel {
  font-style: inherit;
  color: #333333;
}
.price {
  font-style: inherit;
  color: #333333;
}

.rating {
  font-style: inherit;
  text-transform: uppercase;
}

.item-count {
  font-style: inherit;
  color: #333333;
}
